
/* .fancy-button {
  color: rgb(255, 255, 255);
  background: rgb(54, 82, 240);
  margin: 0;
}
.fancy-button i.material-icons {
  color: rgb(255, 255, 255);
} */

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/